.App {
  text-align: center;
}

.accordion button {
  width: 50%;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  border: none;
  background:gray;
  font-size: large;
}
.accordion .content {
  padding: 0.5rem;
  background: #f7f7f7;
}
button {
  cursor: pointer;
  border: none;
  height: 30px;
  width: 80px;
  font-size: medium;
  margin: 10px;
}
span {
  text-transform: capitalize;
  font-size: medium;
  color: chocolate;
}